{% extends "front/base.html" %}
{% from "common/_macros.html" import static %}

{% block title %}
    Tokimeki论坛
{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{{ static("front/css/index.css") }}"/>
{% endblock %}


{% block body %}
    <div class="lg-container">
        <div id="carousel-example-generic" class="carousel slide index-banner" data-ride="carousel">
            <!-- 指示器*小圆点 -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>

            <!-- 轮播图 -->
            <div class="carousel-inner" role="listbox">
                {% for banner in banners %}
                    {% if loop.first %}
                        <div class="item active">
                    {% else %}
                        <div class="item">
                    {% endif %}
                <a href="{{ banner.link_url }}">
                    <img src="{{ banner.image_url }}" alt="...">
                </a>
                </div>
                {% endfor %}
                </div>

                <!-- 左右切换的按钮 -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="post-group">
                <ul class="nav nav-pills">
                    {% if current_sort == 1 %}
                        <li role="presentation" class="active"><a href="{{ url_for("front.index",st=1,board_id=current_board) }}">最新</a></li>
                    {% else %}
                        <li role="presentation"><a href="{{ url_for("front.index",st=1,board_id=current_board) }}">最新</a></li>
                    {% endif %}
                    {% if current_sort == 2 %}
                        <li role="presentation" class="active"><a href="{{ url_for("front.index",st=2,board_id=current_board) }}">精华帖子</a></li>
                    {% else %}
                        <li role="presentation"><a href="{{ url_for("front.index",st=2,board_id=current_board) }}">精华帖子</a></li>
                    {% endif %}
                    {% if current_sort == 3 %}
                        <li role="presentation" class="active"><a href="{{ url_for("front.index",st=3,board_id=current_board) }}">点赞最多</a></li>
                    {% else %}
                        <li role="presentation"><a href="{{ url_for("front.index",st=3,board_id=current_board) }}">点赞最多</a></li>
                    {% endif %}
                    {% if current_sort == 4 %}
                        <li role="presentation" class="active"><a href="{{ url_for("front.index",st=4,board_id=current_board) }}">评论最多</a></li>
                    {% else %}
                        <li role="presentation"><a href="{{ url_for("front.index",st=4,board_id=current_board) }}">评论最多</a></li>
                    {% endif %}

                </ul>

                <ul class="post-list-group">
                    {% for post in posts %}
                        <li>
                            <div class="author-avatar-group">
                                <img src="{{ post.author.avatar or url_for('static',filename="common/images/logo.png") }}"
                                     alt="">
                            </div>
                            <div class="post-info-group">
                                <p class="post-title">
                                    <a href="{{ url_for("front.post_detail",post_id=post.id,name=post.author.username) }}">{{ post.title }}</a>

                                    {% if post.highlight %}
                                        <span class="label label-danger">精华帖</span>
                                    {% endif %}

                                </p>
                                <p class="post-info">
                                    <span>作者:{{ post.author.username }}</span>
                                    <span>发表时间:{{ post.create_time }}</span>
                                    <span>评论:{{ post.comments|length }}</span>
                                    <span>阅读:0</span>
                                    {% if post.like %}
                                        <span>点赞数:{{ post.like[0].like_num }}</span>
                                    {% else %}
                                        <span>点赞数:{{ 0 }}</span>
                                    {% endif %}
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div style="text-align: center">
                    {{ pagination.links }}
                </div>
            </div>
        </div>
        <div class="sm-container">
            <div style="padding-bottom: 10px;">
                <a href="{{ url_for("front.apost") }}" class="btn btn-warning btn-block">发表帖子</a>
            </div>
            <div class="list-group">
                {% if current_board %}
                    <a href="/" class="list-group-item">所有版块</a>
                {% else %}
                    <a href="/" class="list-group-item active">所有版块</a>
                {% endif %}
                {% for board in boards %}
                    {% if board.id == current_board %}
                        <a href="{{ url_for("front.index",board_id = board.id) }}"
                           class="list-group-item active">{{ board.name }}</a>
                    {% else %}
                        <a href="{{ url_for("front.index",board_id = board.id) }}"
                           class="list-group-item">{{ board.name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}