{% extends 'front/signbase.html' %}
{% from "common/_macros.html" import static %}

{% block title %}
    论坛账号登录
{% endblock %}

{% block head %}
    <style>
        .reset-link{
            float: right;
        }
    </style>
    <script src="{{ static("front/js/signin.js") }}"></script>
{% endblock %}

{% block h2_block %}
    论坛账号登录
{% endblock %}

{% block signbox %}
    <div class="form-group">
        <input type="text" name="telephone" class="form-control" placeholder="手机号码" autocomplete="off">
    </div>
    <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="密码" autocomplete="off">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="remember" value="1"/>记住我
        </label>
    </div>
    <div class="form-group">
        <button id="submit-btn" class="btn btn-warning btn-block">
            立即登录
        </button>
    </div>
    <div class="form-group">
        <a href="{{ url_for("front.signup") }}" class="signup-link">没有账号?立即注册</a>
        <a href="#" class="reset-link">忘记密码?</a>
    </div>
{% endblock %}