{% extends 'front/signbase.html' %}
{% from "common/_macros.html" import static %}

{% block title %}
    论坛账号注册
{% endblock %}

{% block head %}
    <script src="{{ static("front/js/signup.js") }}"></script>
{% endblock %}

{% block h2_block %}
    论坛账号注册
{% endblock %}

{% block signbox %}
    <div class="form-group" style="margin:0 auto;">
                <div class="input-group">
                    <input type="text" name="telephone" class="form-control" placeholder="手机号码">
                    <span class="input-group-btn">
                        <button  id="sms-captcha-btn" class="btn btn-default">
                            发送验证码
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <input type="text" name="sms_captcha" class="form-control" placeholder="短信验证码">
            </div>
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="用户名" autocomplete="off">
            </div>
            <div class="form-group">
                <input type="password" name="password1" class="form-control" placeholder="密码">
            </div>
            <div class="form-group">
                <input type="password" name="password2" class="form-control" placeholder="确认密码">
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" name="graph_captcha" class="form-control" placeholder="图形验证码">
                    <span class="input-group-addon captcha-addon">
                <img id="captcha-img" class="captcha-img" src="{{ url_for('common.graph_captcha') }}" alt="">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <span style="display: none;" id="return-to-span">{{ return_to }}</span>
                <button id="submit-btn" class="btn btn-warning btn-block">
                    立即注册
                </button>
            </div>
{% endblock %}