.index-banner{
    border-radius: 10px;
    overflow: hidden;
    height:200px;
}

.index-banner img{
    height: 200px;
}

.post-group{
    border: 1px solid #ddd;
    margin-top:20px;
    overflow: hidden;
    border-radius: 5px;
    padding:10px;
}

.post-group-head{
    overflow: hidden;
    list-style: none;
}

.post-group-head li{
    float: left;
    padding:5px 10px;
    /*background-color: red;*/
}

.post-group-head li a{
    color:#333;
}

.post-group-head > li.active{
    background:#ccc;
}

.post-list-group{
    margin-top:20px;
}

.post-list-group li{
    /*background-color: deeppink;*/
    overflow: hidden;
    padding-bottom: 20px;
}

.author-avatar-group{
    float:left;
}

.author-avatar-group img{
    width:50px;
    height: 50px;
    border-radius: 50%;
}

.post-info-group{
    float:left;
    margin-left:10px;
    border-bottom:1px solid #e6e6e6;
    width:80%;
    padding-bottom: 11px;
}

.post-info-group .post-info{
    margin-top:10px;
    color: #8c8c8c;
    font-size:12px;
}

.post-info span{
    margin-right:10px;
}