.post-container{
    border: 1px solid #e6e6e6;
    padding: 10px;
}

.post-info-group{
    font-size: 12px;
    color: #8c8c8c;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 20px;
    padding-bottom: 10px;
}

.post-info-group span{
    margin-right: 20px;
}

.post-content{
    margin-top: 20px;
}

.post-content{
    width:100%;
}

.comment-group{
    margin-top:20px;
    border:1px solid #e8e8e8;
    padding:10px;
}

.add-comment-group{
    margin-top: 20px;
    padding:10px;
    border:1px solid #e8e8e8;
}

.add-comment-group h3{
    margin-bottom: 10px;
}

.comment-btn-group{
    margin-top: 10px;
    text-align: right;
}

.avatar-group{
    float:left;
}

.comment-list-group li{
    padding:10px 0;
    overflow: hidden;
    border-bottom:1px solid #8c8c8c;
}

.avatar-group img{
    width:50px;
    height:50px;
    border-radius: 50%;
}

.comment-content{
    float:left;
    margin-left: 10px;
    /*border-bottom:1px solid #e8e8e8;*/
}

.comment-content .author-info{
    font-size: 12px;
    color:#8c8c8c;
}

.author-info span{
    margin-right: 10px;
}

,comment-content .comment-txt{
    margin-top:10px;
 }

 .like-group{
     margin-top: 20px;
     border-top:1px solid #8c8c8c;
     padding: 10px 0;
 }