        body{
            background: #f3f3f3;
        }
        div[class=outer-box]{
            width:854px;
            background: #fff;
            margin: 0 auto;
            overflow: hidden;
        }
        .logo-box{
            text-align: center;
            padding-top:40px;
        }

        div > div[class=logo-box]  img{
            width:60px;
            height: 60px;
        }

        .page-title{
            text-align: center;
            font-family: 楷体;
        }

        .sign-box{
            width:300px;
            margin:0 auto;
            margin-top:50px;
        }

        .captcha-addon{
            padding:0;
            /*溢出隐藏*/
            overflow: hidden;
        }

        .captcha-img{
            width:94px;
            height:32px;
            cursor:pointer;
        }