{% extends 'cms/base.html' %}
{% from "common/_macros.html" import static %}

{% block title %}
    帖子管理
{% endblock %}

{% block head %}
    <script src="{{ static("cms/js/posts.js") }}"></script>
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block main_content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>标题</th>
            <th>发布时间</th>
            <th>模块</th>
            <th>作者</th>
            <th>操作</th>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr data-id="{{ post.id }}" data-highlight="{{ 1 if post.highlight else 0 }}">
                <td>
                    <a target="_blank" href="{{ url_for("front.post_detail",name=post.author.username,post_id=post.id) }}">{{ post.title }}</a>
                </td>
                <td>{{ post.create_time }}</td>
                <td>{{ post.board.name }}</td>
                <td>{{ post.author.username }}</td>
                <td>
                    {% if  post.highlight %}
                        <button class="btn btn-warning btn-xs highlight-btn" >取消加精</button>
                    {% else %}
                        <button class="btn btn-default btn-xs highlight-btn">加精</button>
                    {% endif %}
                        <button class="btn btn-danger btn-xs">移除</button>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="text-align: center;">
        {{ pagination.links }}
    </div>
{% endblock %}