{% extends 'cms/base.html' %}

{% block title %}
    个人信息
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block main_content %}
    {% set user = g.cms_user %}
     <table class="table table-bordered">
        <tbody>
            <tr>
                <td>用户名</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>邮箱</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>角色</td>
                <td>
                <!--角色和用户已经绑定了，只需通过两者之间关系属性调用-->
                    {% for role in user.roles %}
                            {{ role.name }}
                            {% if not loop.last %},{% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>权限</td>
                <td>
                  <ul>
                    {% for role in user.roles %}
                        <li>{{ role.desc }}</li>
                        {% if not loop.last %}{% endif %}
                    {% endfor %}
                  </ul>
                </td>
            </tr>
            <tr>
                <td>加入时间</td>
                <td>{{ user.join_time }}</td>
            </tr>
        </tbody>
     </table>
{% endblock %}