{% extends "cms/base.html" %}
{% from "common/_macros.html" import static %}

{% block title -%}
    修改邮箱
{%- endblock %}

{% block head %}
    <script src="{{ static('cms/js/resetemail.js') }}"></script>
    <style>
        .form-container{
            width:300px;
        }
    </style>
{% endblock %}

{% block page_title -%}
    {{ self.title() }}
{%- endblock %}

{% block main_content %}
    <form action="" method="post" autocomplete="off">
        <div class="form-container">
            <div class="form-group">
                <div class="input-group">
                    <input type="email" class="form-control" name="email" placeholder="新邮箱">
                    <span class="input-group-addon" id="captcha-btn" style="cursor:pointer;">获取验证码</span>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="captcha" placeholder="邮箱验证码">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" id="submit">立即修改</button>
            </div>
        </div>
    </form>
{% endblock %}