{% extends 'cms/base.html' %}
{% from "common/_macros.html" import static %}

{% block title -%}
    修改密码
{%- endblock %}

{% block page_title -%}
    {{ self.title() }}
{%-endblock %}

{% block head %}
    <style>
        .form-container{
            width:300px;
        }
    </style>
    <script src="{{ static("cms/js/resetpwd.js") }}"></script>
{% endblock %}

{% block main_content %}
    <form method="post" autocomplete="off">
        <!--限制外面布局的大小-->
        <div class="form-container">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">旧密码</span>
                    <input class="form-control" type="text" name="oldpwd" placeholder="请输入旧密码">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">新密码</span>
                    <input class="form-control" type="text" name="newpwd" placeholder="请输入新密码">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">确认密码</span>
                    <input class="form-control" type="text" name="newpwd2" placeholder="请确认新密码">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <button type="button" class="btn btn-primary" id="submit">立即保存</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}